NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

APP_ENCRYPTION_KEY=
OTP_PEPPER=
MAIL_TEST_EMAIL=

GEMINI_MODEL=gemma-3-27b-it
GEMINI_TEST_API_KEY=
